body {
    background-color: rgba(36, 36, 35, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "Inria Serif", serif;
}
nav {
    background-color: rgba(51, 53, 51, 1);
    margin: 0;
    border-radius: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    height: 110px;
    width: 97%;
    padding-left: 20px;
    margin-left: 0.7%;
    border-bottom: 5px solid rgba(245, 203, 92, 1);
    z-index: 1000;
}
a {
    text-decoration: none;
    color: inherit;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin-left: auto;
}

ul li {
    color: rgba(232, 237, 223, 1);
    list-style: none;
    margin-left: 20px;
    font-size: 32px;
    margin-right: 4.5%;
    transition: color 0.3s;
}

ul li:hover {
    color: rgba(150, 150, 150, 1);
}
nav img {
    height: 136px;
    width: 143px;
}
#Welcome{
    margin-top: 25%;
    position: absolute;
    top: 0;
    left: 55px;
    max-width: calc(100% - 55px);
    font-size: 3em;
    font-weight: bold;
}
.text_main_page{
    margin-top: 35%;
    position: absolute;
    top: 0;
    left: 33px;
    right: 33px;
    text-align: center;
    max-width: calc(100% - 10px);
    font-size: 1.3em;
}
#b_carrousel{
    margin-top: 48%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#Background_image{
    position: absolute;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 19%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0.5;
}

/**********************************************/
.carousel-container {
    overflow: hidden;
    width: 32%;
    margin: 56% auto 0 33%;
    position: absolute;
}

.carousel-slide{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.prev-btn:hover,
.next-btn:hover {
    transform: translateY(-50%) scale(1.1);
    font-size: 32px;
    transition: 0.5s;
}

.custom-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.custom-text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}